html {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

body{
    margin: 0px;
}
.wrapper header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed;
    right: 0%;
    width: 100%;
}

.header-logo-wrapper {
    width: 9.688rem;
    margin: 10px;
}

.header-logo {
    width: 100%;
}

.header-menu ul {
    list-style: none;
    padding: 0px;
}

.header-menu ul li {
    display: inline;
    font-size: 1rem;
    margin: 10px;
}

.header-menu ul li a {
    text-decoration: none;
    color: #4a4a4a;
}

.wrapper main {
    background-color: #3CDBC0;
    color: #FFFFFF;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    width: 9.688rem;
    font-size: 1.875rem;
    text-align: center;
}

@media all and (min-width: 768px){
    html {
        font-size: 16px;
    }

    .wrapper header {
        padding: 48px;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .header-logo-wrapper {
        width: 9.688rem;
        margin: 20px 30px;
    }

    .header-menu {
        margin: 20px 30px;
    }

    .header-menu ul li {
        display: inline;
        font-size: 1rem;
        margin: 20px;
    }

    .main-title {
    width: 18rem;
    font-size: 3rem;
    text-align: center;
    }

    .header-logo-wrapper{
        transform: translate(70%, 0);
    }
}